<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O que é um Challenge Data?</h2>
                </div>
            </div>
            <div class="row container">
               <p>Um Challenge Data é um desafio proposto por uma empresa ou uma administração pública, correspondente a um problema real encontrado nas atividades cotidianas e que compreende uma problemática ligada à utilização de dados. 

                  Um challenge pode responder pelo desenvolvimento de novos serviços, sendo ligado a uma política de inovação em um domínio específico ou corresponder a uma etapa de transformação digital.

                  Assim como um hackathon, que por dias consecutivos de trabalho, responde um problema por meio do desenvolvimento de uma nova solução digital o Challenge Data, por dias consecutivos de trabalho intenso, responde um problema por meio do desenvolvimento de uma nova política ou pelo desenvolvimento de um novo olhar para uma determinada política, com a inclusão de dados abertos.
               </p> 
                
                <!-- <p>Topic; <a href="www.google.com">Link to Google</a> 
                </p> -->

                <style>
                    .video {
                        position:relative;
                        padding-bottom: 56.25%;
                        height:0;
                        overflow:hidden;
                        align: middle;
                    }
                    .video iframe, .video object, .video embed {
                        position: absolute;
                        margin: auto;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                    }
                </style>

                <!--<div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>
                 --> 
                <center><a href="https://airtable.com/shrNjaGQUzt3lItd3" class="page-scroll btn btn-xl">Formulário de inscrição</a></center>
            </div>
        </div>
    </section>
